<ol class="breadcrumb">
  <li class="breadcrumb-item">Viáticos ></li>
</ol>

<div class="form-group row">
  <div class="col-10">
      <h2><span class="fi flaticon-price-tag px-3"></span>Pasajes no Utilizados</h2>
  </div>
  <div class="col-2">
    <div class="row justify-content-end">
      <div class="pr-3">

      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-12">
      <section class="widget" widget>
        <div class="widget-body">
          <div class="mt">
            <div class="row">
              <div class="col">
                <div class="float-right mb">
                  <div class="input-group input-group-rounded">
                    <span class="input-group-prepend">
                      <span class="input-group-text">
                        <i class="fa fa-search"></i>
                      </span>
                    </span>
                    <input class="form-control" (keyup)='updateFilter($event)' type="text" placeholder="Buscar">
                  </div>
                </div>
              </div>
            </div>

            <ngx-datatable
              class="material fullscreen"  
              [rows]="dataTable"
              [columnMode]="'force'"
              [headerHeight]="50"
              [footerHeight]="50"
              [rowHeight]="'auto'"
              [limit]="10"
              [selected]="selected"
              [selectionType]="'checkbox'"
              [scrollbarH]="true"
              [messages]="{emptyMessage: 'Sin registros', totalMessage: 'Total', selectedMessage: false}">

              <ngx-datatable-column
                [width]="45"
                [canAutoResize]="false"
                [draggable]="false"
                [resizeable]="false"
                headerClass="pixvs-div-checkbox"
                cellClass="pixvs-div-checkbox">
                <ng-template let-column="column" ngx-datatable-header-template>
                  <div class="form-check pixvs-checkbox">
                    <input class="form-check-input" id="checkbox" type="checkbox" [checked]="dataTable.length > 0 && selected.length == dataTable.length" (change)="onSelectAll()">
                    <label class="form-check-label" for="checkbox"></label>
                  </div>
                </ng-template>
                <ng-template let-row="row" ngx-datatable-cell-template>
                  <div class="form-check pixvs-checkbox">
                    <input class="form-check-input" id="checkbox{{row.id}}" type="checkbox" [checked]="getChecked(row)" (change)="onSelect(row)">
                    <label class="form-check-label" for="checkbox{{row.id}}"></label>
                  </div>
                </ng-template>
              </ngx-datatable-column>

              <ngx-datatable-column prop="tipoViaje" name="Tipo de Viaje" [width]="160">
                <ng-template ngx-datatable-cell-template let-rowIndex="row.id" let-value="value" let-row="row">
                  <span> {{value}} </span>
                </ng-template>
              </ngx-datatable-column>

              <ngx-datatable-column prop="fechaCompra" name="Fecha de Compra" [width]="180">
                <ng-template ngx-datatable-cell-template let-rowIndex="row.id" let-value="value" let-row="row">
                  <span> {{value}} </span>
                </ng-template>
              </ngx-datatable-column>

              <ngx-datatable-column prop="nombreLinea" name="Nombre de Línea" [width]="180">
                <ng-template ngx-datatable-cell-template let-rowIndex="row.id" let-value="value" let-row="row">
                  <span> {{value}} </span>
                </ng-template>
              </ngx-datatable-column>

              <ngx-datatable-column prop="codigoReservacion" name="Código Reservación" [width]="200">
                <ng-template ngx-datatable-cell-template let-rowIndex="row.id" let-value="value" let-row="row">
                  <span> {{value}} </span>
                </ng-template>
              </ngx-datatable-column>

              <ngx-datatable-column prop="fechaSalidaRegreso" name="Fecha Salida / Regreso" [width]="230">
                <ng-template ngx-datatable-cell-template let-rowIndex="row.id" let-value="value" let-row="row">
                  <span> {{value}} </span>
                </ng-template>
              </ngx-datatable-column>

              <ngx-datatable-column prop="costo" name="Costo" [width]="100">
                <ng-template let-sort="sortFn" let-column="column" ngx-datatable-header-template>
                  <div class="align-right">
                    <span class="datatable-header-cell-wrapper" (click)="sort()">{{column.name}}</span>
                  </div>
                </ng-template>
                <ng-template let-value="value" ngx-datatable-cell-template>
                  <div class="align-right">
                    {{value | MoneyPipe}}
                  </div>
                </ng-template>
              </ngx-datatable-column>
            </ngx-datatable>
            <button type="button" class="btn btn-primary width-100" [disabled]="selected.length == 0" (click)="modalConfirmar.show()">Utilizado</button>
          </div>
        </div>
        
        <!-- SPINNER -->
        <ngx-spinner bdOpacity = 0.9 bdColor = "rgba(51,51,51,0.49)" size = "medium" color = "#fff" type = "square-jelly-box" [fullScreen] = "false"></ngx-spinner>
        <!-- /SPINNER -->
      </section>
  </div>
</div>

<!-- MODAL CONFIRM -->
<div class="modal fade" bsModal #modalConfirmar="bs-modal" [config]="{backdrop: 'static'}">
  <div class="modal-dialog modal-sm">
      <div class="modal-content">
          <div class="modal-header">
              <span>
                  <h6><strong>Los pasajes se marcarán como utilizados.</strong></h6>¿Desea continuar?
              </span>
          </div>
          <div class="modal-body">
              <button class="btn btn-success btn-xs float-right width-100" (click)="guardar(); modalConfirmar.hide();">SI</button>
              <button class="btn btn-secondary btn-xs float-right width-100 mr-3" (click)="modalConfirmar.hide()">NO</button>
          </div>
      </div>
  </div>
</div>
<!-- /MODAL CONFIRM -->