@import "../../../../styles/helpers";
@import "../../../../../../node_modules/metrojs/release/MetroJs.Full/MetroJs.min.css";

// PIXVS //
.pixvs-icon-size{
    font-size: 50px;
}

.pixvs-icon-color-gray{
    color: gray;
}

.pixvs-icon-color-green{
    color: green;
}

.pixvs-icon-color-silver{
    color: silver;
}

.pixvs-icon-color-lightblue{
    color: lightblue;
}

.pixvs-validacion-text{
  white-space: pre-line;
}

/** Dropdown **/
.pixvs-dropdown-item{
    display: flex;
    flex-direction: row;
    align-items: center; 
}
/**************/
///////////


// Live Tiles //
////////////////

.live-tile,
.list-tile,
.copy-tile,
.tile-strip .flip-list > li{
  height: auto;
  width: 100%;
  margin: 0;
  color: inherit;

  &.fade{
    opacity: 1;
  }
}

.live-tile p,
.list-tile p,
.copy-tile p {
  padding: 0;
}

.live-tile p,
.list-tile p,
.copy-tile p,
.live-tile .face,
.list-tile .face,
.copy-tile .face{
  /* let .h* classes work! */
  &.h1 { font-size: $h1-font-size; }
  &.h2 { font-size: $h2-font-size; }
  &.h3 { font-size: $h3-font-size; }
  &.h4 { font-size: $h4-font-size; }
  &.h5 { font-size: $h5-font-size; }
  &.h6 { font-size: $h6-font-size; }

  $font-sizes: $h1-font-size, $h2-font-size, $h3-font-size, $h4-font-size, $h5-font-size, $h6-font-size;
  $i: 1;
  @each $font-size in $font-sizes{
    &.value#{$i}{ font-size: $font-size; }
    $i: $i + 1;
  }
}

////////////////


// Responsive //
// Extra small devices (portrait phones, less than 576px)
@media (max-width: 575.98px) { 
    .pixvs-dropdown{
        width: 340px;
    }
}
// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) and (max-width: 767.98px) { 
    .pixvs-dropdown{
        width: 340px;
    }
}

////////////////