<ul class="navbar-nav flex-row" (click)="$event.preventDefault()">
  <li class="nav-item">
    <!-- whether to automatically collapse sidebar on mouseleave. If activated acts more like usual admin templates -->
    <a (click)="toggleSidebar('static')"  class="nav-link d-none ml-3 d-lg-flex" placement="bottom">
      <i class="la la-bars la-lg"></i>
    </a>
    <!-- shown on xs & sm screen. collapses and expands navigation -->
    <a (click)="toggleSidebar('collapse')" class="d-lg-none nav-link" href="#" data-html="true" data-placement="bottom">
      <span class="rounded rounded-lg d-md-none"><i class="la la-bars la-lg"></i></span>
      <i class="ml-3 la la-bars la-lg d-none d-md-block d-lg-none"></i>
    </a>
  </li>
</ul>
<ul class="navbar-nav mr-3  d-md-flex flex-row" (click)="$event.preventDefault()">
    <li class="nav-item dropdown modal-notificaciones" id="uno" dropdown  [autoClose]="true" [insideClick]="true">
      <a href="#" dropdownToggle class="nav-link"
         id="notifications-dropdown-toggle">
        <span class="avatar rounded-circle thumb-sm float-left mr-2">
          <img *ngIf="fotografia && !fotografia[0]" class="rounded-circle" src="assets/img/default_user.jpg" alt="...">
          <img *ngIf="fotografia && fotografia[0]" class="rounded-circle" [src]="fotografia[0] | SanitizeUrlPipe" alt="...">
          <ng-template #firstLetter>{{firstUserLetter}}</ng-template>
        </span>
        <span class="small">{{user.name || user.email || "Philip smith"}}</span>
        <span *ngIf="totalAlertas > 0" class="ml-1 badge badge-notifications badge-pill">{{totalAlertas}}</span>
      </a>
      <!-- ready to use notifications dropdown. inspired by smartadmin template.
                   consists of three components:
                   notifications, messages, progress. leave or add what's important for you.
                   uses Sing's ajax-load plugin for async content loading. See #load-notifications-btn -->
      <app-notifications *dropdownMenu class="dropdown-menu dropdown-menu-right animated animated-last fadeInUp"></app-notifications>
    </li>
    <li class="nav-item dropdown navbar-settings" dropdown placement="bottom right">
      <a href="#" class="nav-link dropdown-toggle" dropdownToggle>
        <i class="la la-cog la-lg"></i>
      </a>
      <ul *dropdownMenu class="dropdown-menu dropdown-menu-right">
        <!-- <li><a class="dropdown-item" href="#"><i class="glyphicon glyphicon-user"></i> &nbsp; Mi Cuenta</a></li>
        <li class="dropdown-divider"></li> -->
        <!-- <li><a class="dropdown-item" (click)="logout()"><i class="glyphicon glyphicon-off"></i> &nbsp; Salir</a></li> -->
        <a class="dropdown-item" (click)="logout()"><i class="glyphicon glyphicon-off"></i> &nbsp; Salir</a>
        <!-- Salir -->
      </ul>
    </li>
  </ul>